:root {
  --bg-color: rgba(245, 231, 127, 0.811);
  --canvas-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.color-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
  width: fit-content;
  background-color:white;
}

.control-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.control-group label {
  font-weight: bold;
  cursor: pointer;
}

input[type="color"] {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: none;
}

button {
  font-weight: bold;
  background-color: white;
  border: 1px solid black;
  padding: 2rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
}

button:hover {
  background-color: rgb(125, 125, 125);
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#size-slider {
  width: 100%;
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

#size-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.size {
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;

  width: 500px;
  height: 500px;
  background-color: var(--canvas-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box {
  box-sizing: border-box;
  /* flex-grow allows the boxes to expand into those fractional 0.25px gaps */
  flex-grow: 1;
  aspect-ratio: 1/1;

}
